@import "compass";

#layout {
    @include box-orient(vertical);
    padding: 0;
}

nav {
    @include box-orient(horizontal);
    @include box-pack(center);
    @include box-ordinal-group(2);
    width: 100%;
    height: 53px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    a {
        padding: 0 5px;

        svg {
            height: 48px;
            width: 48px;
            margin: 0;
            @include opacity(1);
        }

        span {
            display: none;
        }
    }
}

section {
    @include display-box;
    @include box-orient(vertical);
    width: 100%;
}

#player {
    position: static;
    height: auto;

    #transport {
        display: inline-block;
        width: auto;
    }

    #playerPlay,
    #playerStop {
        height: 64px;
        width: 64px;
    }

    header {
        @include border-radius(0);
        background: transparent;
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: 64px;
        position: static;
        text-align: justify;
    }
}

.list {
    .title {
        display: none;
    }
}

.unauth {
    form {
        width: auto;
        margin: 1em 1em 0;
    }
}
