  <nav><ul>
    <li><%= link_to 'All Music', {:action => 'songs'}, {'data-pjax' => '#main'} %></li>
    <li><%= link_to 'Artists', {:action => 'artists'}, {'data-pjax' => '#main'} %></li>
  </ul></nav>
