<table>
  <thead>
    <tr>
      <th style="width: 40px;"></th>
      <th>Artist Name</th>
    </tr>
  </thead>
  <tbody>
  <% @artists.each do |art| %>
    <tr>
      <td></td>
      <td>
        <%= link_to art.name, {:action => 'artist', :id => art.id}, {'data-pjax' => '#main'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @doajaxload %>
<script>
function load_artists(page)
{
  var success = function(data, stat, jqxhr)
  {
    var ii = data.length;
    for (var i = 0; i < ii; i++)
    {
      $('#main tbody').append(
        $('<tr><td></td></tr>').append(
          $('<td />').append(
            $('<a />', {
                'href':'/artist/'+data[i].artist.id,
                'data-pjax':'#main',
                text:data[i].artist.name
            })
          )
        )
      );
    }

    if (jqxhr.status === 204)
    {
      return;
    }

    load_artists(page+1);
  };

  var request = $.ajax({
    url: '/artists/'+page+'.json',
    async: true,
    type: 'GET',
    success: success
  });

  $('a[data-pjax]').bind('click', function() {
    request.abort();
  });
}

load_artists(1);
</script>
<% end %>
