<ul class="list">
  <li class="title">
    <span class="addplaylist"></span>
    <span class="songname">Title</span>
    <span class="artistname">Artist</span>
    <span class="albumname">Album</span>
  </li>
<% @songs.each do |song| %>
  <li>
    <a class="row">
      <span class="addplaylist"><%= image_tag('add.png', :border => 0) %></span>
      <span class="songname"><%= song.title %></span>
      <span class="artistname"><%= song.artist.name unless song.artist.nil? %></span>
      <span class="albumname"><%= song.album.name unless song.album.nil? %></span>
    </a>
  </li>
<% end %>
</ul>
